.nav-container {
    display: flex;
    height: 25px;
}
.nav-item {
    display: flex;
    justify-content: space-between;
}
.nav-left {
    
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: flex-start
}
.nav-right {
    
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.nav-blue {
    background: lightsteelblue;
}
.nav {
    list-style: none;
}
.nav a {
    text-decoration: none;
    display: block;
    padding: 0 1em;
    color: white;
}